<div class="container">
  <button (click)="toggleVisibility(1)">Toggle Visibility 1</button>
  <button (click)="toggleVisibility(2)">Toggle Visibility 2</button>
  <div class="left" [class.hidden]="isLeftHidden" #leftDiv>
    <ng-container *ngComponentOutlet="leftComponent"></ng-container>
  </div>
  <div class="divider" (mousedown)="onMouseDown($event)"></div>
  <div class="right" [class.hidden]="isRightHidden" #rightDiv>
    <ng-container *ngComponentOutlet="rightComponent"></ng-container>
  </div>
</div>
